body {
	background-color: #1291FF;
}

#logo {
	background-image: url("https://moodle.ut.ee/theme/image.php/utold/theme/1360680254/banner2");
	background-position: right top;
	height: 100px;
	width: 100%;
}

/* Kui laius on v�iksem kui see, siis teeb logo n�htamatuks */
@media screen and (max-width: 400px) {
  #logo {
    visibility: hidden;
    height: 0px;
  }
}

#leht {
	max-width: 960px;
	background-color: white;
	margin:10px auto;
	padding: 10px 10px 10px 10px;
}

#menyy {
	padding-top: 2px;
	overflow: auto;
}

#sisu {
	padding: 10px 10px 0px 10px;
	overflow: auto;
}

.kandidaadiPilt {
	width: 100px;
	height: 100px;
	margin: auto;
}

.kandidaadiPildiKast {
	border-radius: 8px;
	padding: 5px 5px 5px 5px;
	text-align: center;

	display: inline-block;
	vertical-align: top;
}

.kandidaadiPildiKast:HOVER {
	background-color: #1291FF;
	color: white;
}

#kook {
	width: 200px;
	float: left;
}

#tabeliDiv {
	overflow: hidden;
	min-width: 200px;
}

#pildiKast {
	height: 300px;
	width: 300px;
	float: left;
	text-align: center;
}

#v2ljad {
	overflow: hidden; /*Tänu sellele võtab float elemendist üle jäänud ruumi*/
	min-width: 200px;
}

.btn {
	float: left;
}

.hipster {
	float: right;
}

.rounded {
	border-radius: 8px;
}

.puhastaja {
	clear: both;
}
