


body {
	background-color: #3E4242;
}

#logo {
	background-image: url("pildid/logo.png");
	background-position: right top;
	height: 100px;
	width: 100%;
}

#leht {
	max-width: 960px;
	background-color: white;
	margin:10px auto;
	padding: 10px 10px 10px 10px;
	border-radius: 3px;
	height: auto;
}

.menu {
	width: 100%;
	background-color: #333;
}

.menu ul {
	margin: 0;
	padding: 0;
	float: left;
}

.searchbar ul {
	margin: 0;
	padding: 0;
	float: left;
}

.menu ul li {
	display: inline;
}

.searchbar ul li {
	display: inline;
	padding-right: 10px;
}

.menu ul li a {
	float: left;
	text-decoration: none;
	color: white;
	padding: 10.5px 11px;
	background-color: #333;
}

.menu ul li a:visited {
	color: white;
}

.menu ul li a:hover, menu ul li .current {
	color: #fff;
	background-color: #0b75b2;
}

.menu br {
	clear: left;
}

#sisu {
	padding: 10px 10px 0px 10px;
	overflow: auto;
	margin: auto;
	min-height: 500px;
}


/*Nupud*/
.btn {
	float: left;
	cursor: pointer;
	border-radius: 2px;
	
    padding: 4px 12px;
    margin-bottom: 0px;
    margin: 0px 0px 0px 0px;
    line-height: 20px;
    background-image: linear-gradient(to bottom, rgb(255, 255, 255), rgb(230, 230, 230));
	background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));
    background-repeat: repeat-x;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgb(179, 179, 179);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05);
}


.btn:hover, .btn:focus {
    background-position: 0px -15px;
    transition: background-position 0.1s linear 0s;
}

.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: rgb(230, 230, 230);
}

.btn-primary {
    color: rgb(255, 255, 255);
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: rgb(0, 109, 204);
    background-image: linear-gradient(to bottom, rgb(0, 136, 204), rgb(0, 68, 204));
	background-image:  -webkit-linear-gradient(top, rgb(0, 136, 204), rgb(0, 68, 204));
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 68, 204);
}

/* Kandidaatide nimekirja värk */
.kandidaadiPilt {
	width: 100px;
	height: 100px;
	margin: auto;
	
}

.kandidaadiPildiKast {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	text-align: center;

	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.kandidaadiPildiKast:HOVER {
	background-color: rgb(11, 117, 178);
	color: white;
}

.kandidaadiFilter {
	float: left;
}

#candidateDetails img{
	margin: 10px 0 0 10px;
}
#candidateDetails img, #candidateDetails p {
	display: inline-block;
	vertical-align: top;
	overflow: auto;
}


/* Statistika */

#diagram {
	width: 300px;
	float: left;
}


/*Tabel*/
.table-bordered {
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221);
    border-image: none;
    border-collapse: separate;
    border-radius: 4px 4px 4px 4px;
}

.table {
    margin-bottom: 20px;
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    border: 0px none;
    margin: 0px;
}
table {
    border-collapse: separate;
    border-spacing: 0px;
    border-width: 1px 1px 1px 0px;
    border-style: solid solid solid none;
    border-color: rgb(221, 221, 221) rgb(221, 221, 221) rgb(221, 221, 221);
    border-radius: 4px 4px 4px 4px;
}
table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0px;
}
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th {
    background-color: rgb(245, 245, 245);
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid rgb(221, 221, 221);
}
.table th, .table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid rgb(221, 221, 221);
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    padding: 0px;
    font: inherit;
    vertical-align: baseline;
    border: 0px none;
    margin: 0px;
}
.table-bordered thead:first-child tr:first-child > th:first-child, .table-bordered tbody:first-child tr:first-child > td:first-child, .table-bordered tbody:first-child tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}
.table-bordered caption + thead tr:first-child th, .table-bordered caption + tbody tr:first-child th, .table-bordered caption + tbody tr:first-child td, .table-bordered colgroup + thead tr:first-child th, .table-bordered colgroup + tbody tr:first-child th, .table-bordered colgroup + tbody tr:first-child td, .table-bordered thead:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child th, .table-bordered tbody:first-child tr:first-child td {
    border-top: 0px none;
}
.table th {
    font-weight: bold;
}

/*Input*/

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    display: inline-block;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    line-height: 20px;
    color: rgb(85, 85, 85);
    vertical-align: middle;
    border-radius: 4px 4px 4px 4px;
}
input, textarea, .uneditable-input {
    margin-left: 0px;
}
input, textarea, .uneditable-input {
    width: 206px;
    max-width: 100%;
}
input, button, select, textarea {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
label, input, button, select, textarea {
    font-weight: normal;
    line-height: 20px;
}
button, input {
    line-height: normal;
}
button, input, select, textarea {
    font-size: 100%;
    vertical-align: middle;
}
select {
    width: 220px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(204, 204, 204);
}
select, input[type="file"] {
    height: 30px;
    line-height: 30px;
}






#tabeliDiv {
	overflow: hidden;
	min-width: 200px;
}

img {
    max-width: 100%;
    vertical-align: middle;
}


/* Kandideerimise värk */
.pildiKast {
	height: 300px;
	width: 300px;
	float: left;
	text-align: center;
	display: table;
}

.pildiTabel {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

#sisu .pildiKast img, #sisu .pildiKast button {
	margin-left: 100px;
}

#sisu .pildiKast button {
	width: 100px;
	clear: both;
}

#v2ikePildiKast {
	display: table-cell;
	vertical-align: middle;
	margin: 0 auto;
}

#v2ljad {
	overflow: hidden; /*Tänu sellele võtab float elemendist üle jäänud ruumi*/
	min-width: 200px;
}

#v2ljad table {
	width: 100%;
	vertical-align: middle;
}

#v2ljad input[type="radio"]{
	margin-bottom: 3px;
	width: auto;
}

#v2ljad p {
	font-style: italic;
}

.date select {
	width: 70px;
}

textarea {
	height: 100px;
}

/***/


.hipster {
	float: right;
}

.puhastaja {
	clear: both;
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
body {
	font-family:"Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 80%;
}
h1 {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 200%;
}
h2 {
	font-size: 150%;
}

/*Sisenemine*/

#login {
	text-align: center;
	width: 400px;
	height: 200px;
}	
	
#login h2 {
	margin-top: 30px;
}

#loginBtnDiv{
	width: 200px;
	margin: 20px auto;
	line-height: 60px;
	overflow: auto;
}

.loginBtn {
	width: 200px;
	max-width: 100%;
	height: 50px;
	border-radius: 4px;
	display: table;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 5px black;
	font-size: 13px;
}

.loginBtn:hover, .loginBtn:focus {
	box-shadow: 1px 1px 10px DarkGray inset;
} 

.loginBtn img {
	vertical-align: middle;
	margin-right: 5px;
}

#Facebook {
	background: linear-gradient(to bottom, #3c5a98 0%,#2989d8 50%,#207cca 51%,#6d84b3 100%);
	background: -webkit-linear-gradient(top, #3c5a98 0%,#2989d8 50%,#207cca 51%,#6d84b3 100%);
}

#Google {
	background: linear-gradient(to bottom, #037932 0%,#e4aa0c 100%);
	background: -webkit-linear-gradient(top, #037932 0%,#e4aa0c 100%);
}

/* Popupi värk */
#blanket {
   background-color:#111;
   opacity: 0.65;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
}

.popUpDiv {
	position:absolute;
	background-color:white;
	border:1px solid #000;
	z-index: 9002;
	border-radius: 8px;
	margin: auto;
	width: 400px;
	height: 400px;
	max-width: 100%;
}

.closeBtn {
	opacity: 0.8;
	float: right;
	margin-right: 2px;
	margin-top: 2px;
}

.closeBtn:hover, .closeBtn:focus{
	opacity: 1.0; 	
}

.error {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}

.warning {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}

.info, .success, .warning, .error, .validation {
border: 1px solid;
margin: 10px 0px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

#help {
	margin: 20px 0px 0px 20px;
}

p {
	margin: 5px 0 5px 0;
}

/* Väikse resolutsiooni muudatused */
@media screen and (max-width: 360px) {
  #logo {
    background-image: url("pildid/logo-v.png");
    height: 35px;
  }
  #leht {
  	margin: auto;
  	padding: 0;
  }
}

/* Printimise vaade media query abil (CSS3)*/
@media print {
	#logo, .menu, .kandidaadiFilter {
		display: none;
	}
	#leht {
		max-width: none;
	}
}
